## LetsUpgrade Assignments

# DAY 2 ASSIGNMENT 1

In [15]:
print("Hello LetsUpgrade!!!","\nThis is Vijay Natarajan","\nHere is my Assigment 1")

Hello LetsUpgrade!!!
This is Vijay Natarajan
Here is my Assigment 1

# List and its Functions Types

In [74]:
#List and its Functions Types
Vegetables_List1 = ["Tomato", "Onion", "Carrot", "Snake Beans", "Cauliflower"]
print(Vegetables_List1)

#len(s)
print(len(Vegetables_List1))

#append()
Vegetables_List1.append("Round Gourd")
print(Vegetables_List1)

#extend()
Vegetables_List1.extend(["Radish", "Garlic", "Mushroom", "Green Peas", "Fenu Greek"])
print(Vegetables_List1)

#insert()
Vegetables_List1.insert(0, ["Horseraddish", "Cluster Beans"])
print(Vegetables_List1)

#remove()
Vegetables_List1.remove("Mushroom")
print(Vegetables_List1)

#pop([])
Vegetables_List1.pop(3)
print(Vegetables_List1)

#index(x[, start[, end]]
print(Vegetables_List1.index("Tomato"))
print(Vegetables_List1.index(["Horseraddish", "Cluster Beans"]))

#count(x)
print(Vegetables_List1.count("Tomato"))
print(Vegetables_List1.count(""))

['Tomato', 'Onion', 'Carrot', 'Snake Beans', 'Cauliflower']
5
['Tomato', 'Onion', 'Carrot', 'Snake Beans', 'Cauliflower', 'Round Gourd']
['Tomato', 'Onion', 'Carrot', 'Snake Beans', 'Cauliflower', 'Round Gourd', 'Radish', 'Garlic', 'Mushroom', 'Green Peas', 'Fenu Greek']
[['Horseraddish', 'Cluster Beans'], 'Tomato', 'Onion', 'Carrot', 'Snake Beans', 'Cauliflower', 'Round Gourd', 'Radish', 'Garlic', 'Mushroom', 'Green Peas', 'Fenu Greek']
[['Horseraddish', 'Cluster Beans'], 'Tomato', 'Onion', 'Carrot', 'Snake Beans', 'Cauliflower', 'Round Gourd', 'Radish', 'Garlic', 'Green Peas', 'Fenu Greek']
[['Horseraddish', 'Cluster Beans'], 'Tomato', 'Onion', 'Snake Beans', 'Cauliflower', 'Round Gourd', 'Radish', 'Garlic', 'Green Peas', 'Fenu Greek']
1
0
1
0

## Dictionary and Its Default Functions

In [145]:
#Create and print a dictionary
CARS_MODELS = {'CAR_BRAND':'MARUTHI',
                'MAKE_MODEL':'SWIFT DEZIRE',
                'MAKE_YEAR':2010,
                'SEAT_TYPE':'HATCHBACK'}
print(CARS_MODELS)

# Prints all the keys
print (CARS_MODELS.keys())   

# Prints all the values
print (CARS_MODELS.values()) 

# Prints all the values
for x in CARS_MODELS:
    print(x)

# Prints the value associated with the key
print (CARS_MODELS.get('CAR_BRAND'))   

# Prints all the elements
print (CARS_MODELS.items()) 

print (CARS_MODELS['MAKE_MODEL'] )    

print (CARS_MODELS['MAKE_YEAR'])

{'CAR_BRAND': 'MARUTHI', 'MAKE_MODEL': 'SWIFT DEZIRE', 'MAKE_YEAR': 2010, 'SEAT_TYPE': 'HATCHBACK'}
dict_keys(['CAR_BRAND', 'MAKE_MODEL', 'MAKE_YEAR', 'SEAT_TYPE'])
dict_values(['MARUTHI', 'SWIFT DEZIRE', 2010, 'HATCHBACK'])
CAR_BRAND
MAKE_MODEL
MAKE_YEAR
SEAT_TYPE
MARUTHI
dict_items([('CAR_BRAND', 'MARUTHI'), ('MAKE_MODEL', 'SWIFT DEZIRE'), ('MAKE_YEAR', 2010), ('SEAT_TYPE', 'HATCHBACK')])
SWIFT DEZIRE
2010

## Sets and Its Default Functions

In [171]:
DogBreed = {'POM', 'LAB', 'BEEGLE', 'GOLDEN RETRIVER', 'RAJAPALAYAM', 'BUG'}
print(DogBreed)

#Access Items
for Z in DogBreed:
    print(Z)
    
#Add Items
DogBreed.add("CHIPPIPARAI")
print(DogBreed)

#Update Items
DogBreed.update(["Kombai (Combai)", "GERMAN SHEPHEAR", "BULLDOG"])
print(DogBreed)

#len() 
print(len(DogBreed))

#Remove Item remove() & discard() 
DogBreed.remove("BULLDOG")
print(DogBreed)

#len() 
print(len(DogBreed))

DogBreed.discard("BUG")
print(DogBreed)

#len() 
print(len(DogBreed))

#pop()
Y = DogBreed.pop()
print(Y)
len((DogBreed))
print(DogBreed)

{'POM', 'RAJAPALAYAM', 'LAB', 'BUG', 'GOLDEN RETRIVER', 'BEEGLE'}
POM
RAJAPALAYAM
LAB
BUG
GOLDEN RETRIVER
BEEGLE
{'POM', 'CHIPPIPARAI', 'RAJAPALAYAM', 'LAB', 'BUG', 'GOLDEN RETRIVER', 'BEEGLE'}
{'Kombai (Combai)', 'POM', 'GERMAN SHEPHEAR', 'CHIPPIPARAI', 'RAJAPALAYAM', 'LAB', 'BULLDOG', 'BUG', 'GOLDEN RETRIVER', 'BEEGLE'}
10
{'Kombai (Combai)', 'POM', 'GERMAN SHEPHEAR', 'CHIPPIPARAI', 'RAJAPALAYAM', 'LAB', 'BUG', 'GOLDEN RETRIVER', 'BEEGLE'}
9
{'Kombai (Combai)', 'POM', 'GERMAN SHEPHEAR', 'CHIPPIPARAI', 'RAJAPALAYAM', 'LAB', 'GOLDEN RETRIVER', 'BEEGLE'}
8
Kombai (Combai)
{'POM', 'GERMAN SHEPHEAR', 'CHIPPIPARAI', 'RAJAPALAYAM', 'LAB', 'GOLDEN RETRIVER', 'BEEGLE'}

In [180]:
#Join Two Sets
DogBreed_SET1 = {'POM', 'LAB', 'BEEGLE', 'GOLDEN RETRIVER', 'RAJAPALAYAM', 'BUG'}
DogBreed_SET2 = {"POODLE", "DACHSHUND", "SIBERIAN HUSKY", "ROTTWEILER"}
print(DogBreed_SET1)
print(DogBreed_SET2)
DogBreed_FULLSET = DogBreed_SET1.union(DogBreed_SET2)
print(DogBreed_FULLSET)

{'POM', 'RAJAPALAYAM', 'LAB', 'BUG', 'GOLDEN RETRIVER', 'BEEGLE'}
{'SIBERIAN HUSKY', 'ROTTWEILER', 'POODLE', 'DACHSHUND'}
{'DACHSHUND', 'ROTTWEILER', 'POM', 'RAJAPALAYAM', 'LAB', 'SIBERIAN HUSKY', 'POODLE', 'BUG', 'GOLDEN RETRIVER', 'BEEGLE'}

In [210]:
#The set() Constructor 
# Using the set() constructor to make a set:

A_set = (('B', 'E', 'C', 'A', 'F', 'D'))
print(A_set)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

#difference_update() 
x = {"CHENNAI", "MUMBAI", "KERALA"}
y = {"BANGALORE", "CHENNAI", "PUNE"}
x.difference_update(y)
print(x)
y.difference_update(X)
print(y)

#intersection() 
x = {"CHENNAI", "MUMBAI", "KERALA"}
y = {"BANGALORE", "CHENNAI", "PUNE"}
f = x.intersection(y)
print(f)

#isdisjoint() 
x = {"MAHARASTRA", "MUMBAI", "KERALA"}
y = {"BANGALORE", "CHENNAI", "PUNE"}
g = x.isdisjoint(y)
print(g)

#issubset() 
x = {"MAHARASTRA", "MUMBAI", "KERALA"}
y = {"BANGALORE", "CHENNAI", "PUNE"}
h = x.isdisjoint(y)
print(g)

('B', 'E', 'C', 'A', 'F', 'D')
{'cherry', 'banana'}
{'MUMBAI', 'KERALA'}
{'CHENNAI', 'BANGALORE', 'PUNE'}
{'CHENNAI'}
True
True

## Tuples & Its Functions

In [211]:
# Tuples
mytuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')
xyz = ('XYZ', 123)

print (mytuple)           # Prints complete tuple
print (mytuple[0])        # Prints first element of the tuple
print (mytuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (mytuple[2:])       # Prints elements starting from 3rd element
print (tinytuple * 2)   # Prints tuple two times
print (mytuple + tinytuple) # Prints concatenated tuple
print (mytuple[-1])        # Prints the last item in the tuple

print (mytuple + xyz) # Prints concatenated tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')
70.2
('abcd', 786, 2.23, 'john', 70.2, 'XYZ', 123)

## Strings & Its Functions

In [251]:
print("Hello LetsUpgrade")

#Assign String to a Variable
ABC = "XYZ"
print(ABC)

#Strings are Arrays
a = "Hello LetsUpgrade"
print(a[1])
print(a[6:])
print(a[6:10])
print(a[-8:-2])
print(len(a))
print(a.strip())
print(a.lower())
print(a.upper())
print(a.replace("Le",'i'))
print(a.split(","))

txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)
x = "ain" not in txt
print(x)

#String Concatenation
Sentence_1 = "Hey, I AM VIJAY NATARAJAN"
Sentence_2 = "I AM AN DATA SCIENTIST"

Sentence_3 = Sentence_1 + Sentence_2
print(Sentence_3)

Sentence_3 = Sentence_1 +" " +"Also" +"," + " " + Sentence_2
print(Sentence_3)

Age = 32
Statement = Sentence_3 + {Age}
print(Statement)

Hello LetsUpgrade
XYZ
e
LetsUpgrade
Lets
sUpgra
17
Hello LetsUpgrade
hello letsupgrade
HELLO LETSUPGRADE
Hello itsUpgrade
['Hello LetsUpgrade']
True
False
Hey, I AM VIJAY NATARAJANI AM AN DATA SCIENTIST
Hey, I AM VIJAY NATARAJAN Also, I AM AN DATA SCIENTIST

TypeError: can only concatenate str (not "set") to str